#top {
    position: inherit;
    background-color: #a9cfda;
    color: white;
    padding: 2px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #a9cfda;
    padding: 30px;
    margin: 100px 0px 0px 0px;
}

#left {
    float: left;
    background:#a9cfda;
    padding: 9px;
    width: 260px;
    height: 650px;
}

#right {
    float: right;
    background-color:#a9cfda;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #a9cfda;
    width: 400px;
    padding: 50px;
}

.left_content {
    background-color: #eee;
    padding: 0px;
    width: 1089px;
    height: 559px;
    margin-left: 260px;
}

.right_content {
    background-color: #a9cfda;
    padding: 30px;
    margin: 20px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: black;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}


